@font-face{
	font-family: GrandHotel;
	src: url(GrandHotel-Regular.otf);
}
@font-face{
	font-family: Myriad;
	src: url(MyriadPro-Regular.otf);
}
@font-face{
	font-family: mblack;
	src: url(MyriadPro-Black.otf);
}
::selection {
	background: #cf4436; /* Safari */
	}
::-moz-selection {
	background: #cf4436; /* Firefox */
}

#top{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	color: white;
}

#message a:hover{
	opacity: 1;
}
#message a{
	opacity: 0.5;
    display: block;
    display: none;
    z-index: 999; 
    position: fixed;
	left: 90%;
    top: 100%;
    margin-top: -80px; /* = height + preferred bottom margin */
    margin-left: -90px; /* = half of width */
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    /* make it big and easy to see (size, style to preferences) */
    width: 150px;
    line-height: 48px;
    height: 48px;
    padding: 10px;
    background-color:#cf4236;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: Myriad;
    text-decoration: none;
}

/* navbar */

body{
	overflow-x: hidden;
	width: auto;
	height: 3000px;
	
}
ul li{
float: right;
padding-top: -40px; 
list-style-type:none;

}
ul a{
	text-decoration: none;
	color: white;
	display: block;
	width: 120px;
		
	
}
.navbar{
	position: fixed;
	background-color: transparent;
	height: 85px;
	top:0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	opacity: 1;
}
.visible{
	background-color: #cf4236;
	opacity: 0.7;
}
.nav{
	
	display: inline;
	font-size: 30px;
	width: 100%;
	z-index: 10;
	height: 100px;

	
}
.qlinks{
	list-style-type:none;
	padding-top: 25px;
	float: right;
	text-decoration: none;
	font-family: Myriad;
	color: white;
	
}
.slink{
	padding-left: 70px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	opacity: 0.5;
	
	
}
.underline:hover{
	border-bottom: 3px solid white;
}
.slink:active{
	padding-top: 4px;
    margin-bottom: -1px;
    opacity: 1;

}
.slink:hover{
	opacity: 1;
	
	
	}
.elink{
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	opacity: 0.5;
}
.elink:hover{
	opacity: 1;
	}
.elink:active{
	padding-top: 4px;
    margin-bottom: -1px;
    opacity: 1;
}
.sklink{
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	opacity: 0.5;
}
.sklink:hover{
	opacity: 1;
}
.sklink:active{
	padding-top: 4px;
    margin-bottom: -1px;
    opacity: 1;
}
.Home{
	font-family: GrandHotel;
	font-size: 50px; 
	padding-left: 3%;
	padding-top: 15px;
	float: left;
	color: white;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	

}
.Home a{
	text-decoration: none;
	color: white;
}
.Home:active{
	padding-top: 17px;
    margin-bottom: -1px;
}


/*Header*/

.bg{
	position: absolute;
    width: 100%;
    height: 100%;
	border: 0;  
    z-index: -10;
	top: 0px;
    left:0px;
    overflow-x: hidden;
    pointer-events: none;
    
}

.intro{
	font-family: Myriad;
	color: white;
	font-size: 300%;
	text-align: center;
	padding-top: 20%;
	padding-bottom: 5px;
}
.sayhi{
	padding-top: -10px;
	padding: 14px 26px;
	font-size: 30px;
	line-height: 100%;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	font-family: Myriad;
	border-radius: 5px;
	
	}
.sayhi:active{
    box-shadow: 0px 1px 0px 0px #a1352a;
    background-color: #cf4436;
    border-color: #cf4436;
    color: white;
}
.sayhi:hover{
	background-color: #cf4436;
	color: white;
	border-color: #cf4436;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.sayhi, .sayhi:hover, .sayhi:active{
	outline: 0 none;
	text-decoration: none;
	
}
#down{
	max-width: 60px;
	max-height: 112px;
	margin-top: 170px;
	margin-bottom: 20px;
	

	/* Safari and Chrome */
	-webkit-border-radius: 30px;
	-webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: 2; 
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}



/*Skills block*/

.skills{
	
	overflow-x: hidden;
	min-height: 100%;
	min-width: 720px;
		
}
.sTop{
	
	color: white;
	text-align: center;
	opacity: 0;
	
}
.stitle{
	
	font-family: mblack;
	color: #e74c3c;
	padding-top: 70px;
	text-align: center;
	font-size: 60px;

}
.stext{
	
	font-family: Myriad;
	color: #95a5a6;
	text-align: center;
	font-size: 18px;
	line-height: 29px;
	margin-bottom: 100px;
}

.skimgs{
	
	width: 1000px;
	margin: 0 auto 0 auto;
	text-align: center;
}
.skimgs img{
	pointer-events: none;
}
.skimgs div{
	display: inline-block;
	height: 10px;
	
}
.comp{
	float: left;
	font-family: mblack;
	color:  #e74c3c;
	
}
.comp p{
	margin-top:25px;
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}
.code{
	font-family: mblack;
	color:  #e74c3c;
	
}
.code p{
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}
.design{
	float: right;
	font-family: mblack;
	color:  #e74c3c;
	

}
.design p{
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}
.quote{
	overflow-x: hidden;
}
.quote h2{
	font-family: Myriad;
	width: 1000px;
	margin-top: 600px;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 50px;
	vertical-align: middle;
	
}
.quote img{
	pointer-events: none;
	left: 0;
	width: 100%;
	margin-top: 500px;
	position: absolute;
	z-index: -1;
}
.experience{
	overflow-x: hidden;
	min-height: 100%;
	min-width: 720px;
}
.etitle{
	font-family: mblack;
	color: #e74c3c;
	padding-top: 70px;
	text-align: center;
	font-size: 60px;

}
.etext{
	font-family: Myriad;
	color: #95a5a6;
	text-align: center;
	font-size: 18px;
	line-height: 29px;
	margin-bottom: 100px;
}
.exhook{
	opacity: 0;
}
.eimgs{
	width: 1100px;
	margin: 0 auto 0 auto;
	text-align: center;
}
.eimgs div{
	display: inline-block;
}
.eimgs img{
	pointer-events: none;
}
.spudder{
	float: left;
	margin-top: 30px;
}
.spudder p{
	margin-top:45px;
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}
.prudential{
	
}
.prudential p{
	margin-left: 40px;
	margin-top:40px;
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}

.mcarter{
	float: right;
}
.mcarter p{
	margin-top:-10px;
	margin-left: 20px;
	text-align: justify;
	width: 248px;
	line-height: 29px;
	color: #95a5a6;
	font-family: Myriad;
}
.Contact{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
.Contact h3{
	font-family: mblack;
	color: #e74c3c;
	padding-top: 20px;
	text-align: center;
	font-size: 60px;

}
.Contact form{
	margin-left: 50px;
}
.name{
	
	font-size: 30px;
	margin-right: 10px;
	font-family: Myriad;
	color: #cecece;
	background-color: #e4e8e8;
	border: 0;
	height: 50px;
	padding-left: 10px;
}
.mail{
	font-size: 30px;
	font-family: Myriad;
	color: #cecece;
	background-color: #e4e8e8;
	border: 0;
	height: 50px;
	padding-left: 10px;
}
.comment{
	margin-top: 20px;
	font-size: 30px;
	font-family: Myriad;
	color: #cecece;
	background-color: #e4e8e8;
	border: 0;
	padding-top: 10px;
	padding-left: 10px;
	
}
input.comment{
	padding-top: 0px;
	padding-bottom: 200px;
	vertical-align: text-top;
}
textarea:focus, input:focus{
	color: white;
}
input:focus::-webkit-input-placeholder 
{
    color: transparent;
}
input:focus::-moz-placeholder{
    color: transparent;
}
textarea:focus::-moz-placeholder{
    color: transparent;
}
textarea:focus::-webkit-input-placeholder 
{
    color: transparent;
}
.submit{
	padding-top: -10px;
	padding: 14px 26px;
	font-size: 30px;
	line-height: 100%;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	font-family: Myriad;
	border-radius: 5px;
	margin-bottom: 50px;
}
.submit:active{
    box-shadow: 0px 1px 0px 0px #a1352a;
    background-color: #cf4436;
    border-color: #cf4436;
    color: white;
}
.submit:hover{
	background-color: #cf4436;
	color: white;
	border-color: #cf4436;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.submit, .submit:hover, .submit:active{
	outline: 0 none;
	text-decoration: none;
	
}

.footer{
	height: 100px;
	background-color: #cf4436;
	bottom: 0;
	color: white;
	font-family: Myriad;
	font-size: 20px;
	padding-top: 20px;
	text-align: center;
	left: 0;
	width:103%;
	margin-left:-10px;
	
}
